<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>All posts</h2>
    <form method="GET" action="/posts/new">
        <button class="btn">Add new post</button>
    </form>
    <br>
    <% for(post of posts) { %>
        <div class="indv-post">
            <h3 class="username">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <div class="sed-btn">
                <form method="GET" action="/posts/<%= post.id %>">
                    <button class="btn">Show post</button>
                </form>
                <form method="GET" action="/posts/<%= post.id %>/edit">
                    <button class="btn">Edit post</button>
                </form>
                <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
                    <button class="btn">Delete post</button>
                </form>
            </div>
        </div>
    <% } %>
</body>
</html>